<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="image-beer-modal" ng-src="{{$ctrl.image_url}}" alt="image_beer_in_a_modal">
            </div>
            <div class="col-md-9">
                <span class="lead">{{$ctrl.name}}</span><br>
                <span class="modal-tagline">{{$ctrl.tagline}}</span>
                <div class="divider-modal"></div>
                <p ><strong>  IBU:</strong> {{$ctrl.ibu}} <strong>  ABV:</strong>  {{$ctrl.abv}}<strong>  EBC:</strong>{{$ctrl.ebc}}</p>
                <p class="modal-description">{{$ctrl.description}}</p>
            </div>
        </div>
    </div>
</div>